@use "../../../media_queries";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.account-greet {
  display: flex;
  align-items: center;
}

.account-img {
  margin-right: 2px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 24px;
}

.image-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  align-items: start;
  justify-items: center;
}

.image-boxes img {
  width: 100%;
  cursor: pointer;
}
.image-boxes img:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.image-boxes img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.bipanel {
  display: flex;
  flex-wrap: wrap;
}

.left {
  min-width: 285px;
  width: 33%;
  @media (max-width: media_queries.$breakpoint-md) {
    width: 100%;
  }
}

.qrcodeImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-item {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 2px;
    min-width: 36px;
  }

  img {
    margin-right: 2px;
    max-width: 36px;
    max-height: 36px;
    border-radius: 36px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}


.right {
  min-width: 285px;
  width: 67%;
  @media (max-width: media_queries.$breakpoint-md) {
    width: 100%;
  }
}

.right mat-card {
  position: sticky;
  top: 0;
}

.card-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  div {
    display: flex;
  }
}

mat-calendar {
  width: 50%;
}

mat-form-field {
  width: 50%;
}

::ng-deep .mat-calendar-body-cell.transparent-date {
  opacity: 30%;
  cursor: not-allowed;
  pointer-events: none;
}

::ng-deep .mat-calendar-body-cell.transparent-date:hover {
  opacity: 30%;
  cursor: not-allowed;
  pointer-events: none;
}
mat-card-actions button {
  width: 100%;
}


#map {
  height: 500px;
}
